html{
    background-color: #2F3741;
    font-family: IBM+Plex+Mono:ital, sans-serif ;
    padding-left:25%;
    padding-right:25%;
    line-height: 1.2;
    max-width: 750px;
    font-weight: 100;
}
h2{
    color: white;
    font-size: 25px;
}
hr{
   height:0.6px;
   border-width:0;
   color:#3B4655;
   background-color:#3B4655;

}
#name{
    color:white;
}
h3 a{
    color: #42e0f5;
    text-decoration: none;

}
p{
    color: #d9dbda;
    font-size: 18px;
    font-weight: lighter;
    margin: 8px;
}
.element1 {
    padding-left: 50%;
    padding-bottom:0;
    color: white;

}
.date{
    font-size: 15px;
    font-style: italic;
    color: grey;
}
#image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    rotate: none;

}
a,p#allposts{
    color: white;
    text-decoration: none;
    text-align: center;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}
.social-container ul li{
    
    display: inline;
}
.social-container {
    display: flex;
    justify-content: flex-start;
}
.social-container img{
   width:25px;
   margin: 0 3px;
}
.footer-container img{
   width:25px;
   margin: 0 3px;
   display: inline;
}
.footer-container ul li{
    
    display: inline;
}
.footer-container {
    display: flex;
    justify-content: space-between;
    
}
.calendar {
    width: 19px;
    margin-right:15px;
}
li a:hover{
    color: #42e0f5;

}
#allposts a:hover{
    color: #42e0f5;
}
h3 a:hover{
    text-decoration: underline;
    text-decoration-style: dashed;

}
img:not(#image,.calendar):hover {
  transform: rotate(16deg);
}